@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&family=Roboto:wght@300;400;500;700;900&family=Vina+Sans&display=swap');
html{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    align-items: center;
        
}
#parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 50px;
}
p{
    font-size: 30px;
    margin:5px;
    font-weight: 700;
}
span{
    color: #004064;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    border-color:#004064 ;
    border-style: solid;
    border-radius: 10px;
    border-width: 15px;
}
#foto{
    border-color: #004064;
    border-width: 15px;
    border-style: solid;
    border-radius: 100%;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #FFF9EE;
    width:250px;
    
}
footer>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
ul{
    padding-left: 0px;
}
li{
    list-style-type: none;
    display: flex;
}
li img{
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    width: 75px;
    margin-left: 10px;
    margin-right:10px;
}
@media only screen and (max-width: 650px){
    header>nav:first-of-type{
        display:none;
    }
}
@media only screen and (min-width:650px) {
    body{
        width:900px ;
        height:600px;
    }
    header{
        display:flex;
        align-items:center;
        justify-content:space-between;
        font-size: 20px;
        width:800px;
    }
    #foto{
        margin-bottom: 10px;
    }
    header>nav:first-of-type>ul{
        display:flex;
        flex-direction: row;
    }
    #linea{
        display:flex ;
        flex-direction: row;
        width: 800px;      
        justify-content: space-between;
    }
    #columna{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #columna:not(#parrafo){
        display: flex;
        justify-content: space-between;
    }
    #parrafo{
        display: flex;
        align-items: center;
    }    
    #lista{
        margin-left: 5px;
        margin-right: 5px;
    }
    h1{
        font-size: 30px;
    }
    li a{
        font-size: 27px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-decoration: none;
    }
    li img{
        width: 50px;
    }
    li img:hover{
        border-color: #004064;
    }
    #lista a:hover{
        color: #004064;
    }
}