@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&family=Roboto:wght@300;400;500;700;900&family=Vina+Sans&display=swap');
html{
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    align-items: center;
    
}
h1{
    font-size: 50px;
}
p{
    font-size: 30px;
    margin:5px;
    font-weight: 700;
}
span{
    color: #004064;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:650px;
    border-color:#004064 ;
    border-style: solid;
    border-radius: 10px;
    border-width: 15px;
}
header>nav:first-of-type{
    display:none;
}
article>img:first-of-type{
    border-color: #004064;
    border-width: 15px;
    border-style: solid;
    border-radius: 100%;
    padding-left: 75px;
    padding-right: 75px;
    background-color: #FFF9EE;
    width:300px;
}
footer>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
ul{
    padding-left: 0px;
}
li{
    list-style-type: none;
    display: flex;
}
li img{
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    width: 75px;
    margin-left: 10px;
    margin-right:10px;
}

@media only screen and (min-width:800px) {
    body{
        background-color: red;
        display: flex;
        

    }

    

}